*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    background-color: black;
}

.boxes .bottom{
    bottom:-40%;
    transition: all ease 0.5s;
}

.boxes .first:hover .bottom{
    bottom: 0;
}
.boxes .second:hover .bottom{
    bottom: 0;
}
.boxes .third:hover .bottom{
    bottom: 0;
}